<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lsj.blog.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="cn.lsj.blog.domain.Comment">
            <id property="commentId" column="comment_id" jdbcType="BIGINT"/>
            <result property="authorId" column="author_id" jdbcType="BIGINT"/>
            <result property="articleId" column="article_id" jdbcType="BIGINT"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="level" column="level" jdbcType="CHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="createDate" column="create_date" jdbcType="BIGINT"/>
            <result property="toUid" column="to_uid" jdbcType="BIGINT"/>
            <result property="likeCounts" column="like_counts" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        comment_id,author_id,article_id,
        parent_id,level,content,
        create_date,to_uid,like_counts
    </sql>
</mapper>
